<!DOCTYPE html>
<html>
<head>
    <title>Input Form</title>
   {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1>REGISTER HERE</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <label >Enter you Name </label><br>
        <input type="text" name="name" required><br>
        <label>Enter Your Favorite Colour</label><br>
        <input type="text" name="colour" required><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>